:root {
    --primary-color: #3C3C96;
}
* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
header {
    width: 100%;
    margin: 0;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
body {
    background-color: white;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 20px;
}
.grid {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
}
#score {
    color: black;
    text-align: left;
    font-size: 30px;
}
label {
    font-size: 30px;
}
input {
    height: 30px;
}
.grid #question {
    font-size: 30px;
    font-weight: bold;
    color: black;
}
#quiz-title, #quiz-instructions {
    color: var(--primary-color);
}
.buttons {
    margin-top: 30px;
}
#btn0, #btn1, #btn2, #btn3, #btn4, #btn5, #btn6 {
    background-color: var(--primary-color);
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 7px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    text-align: left;
    display: flex;
}
#btn4, #btn5, #btn6 {
    width: auto;
    height: auto;
    font-size: 15px;
}
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover, #btn6:hover {
    cursor: pointer;
    opacity: 70%;
}
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus, #btn4:focus, #btn5:focus, #btn6:focus {
    outline: 0;
}
footer {
    color: var(--primary-color);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.high-score {
    color: black;
    padding: 15px;
    border: none;
    background: grey;
    margin: 10px;
}